{{ form_widget(hookable_metadata.context.form) }}
{% if resource is instance of('App\\Entity\\Product') %}
    {% if form.price.vars.value < form.priceSupplier.vars.value * 1.25 %}
        <div class="alert alert-warning">
            Le prix de vente doit être au moins 25% supérieur au prix d'achat fournisseur.
        </div>
    {% endif %}
    {% for error in form.price.vars.errors %}
        <div class="alert alert-danger">{{ error.message }}</div>
    {% endfor %}
{% endif %}
