:root {
    --tblr-primary: #b39262;
    --tblr-primary-rgb: 179, 146, 98;
    --tblr-primary-darken: #9e8055;
    --tblr-active-bg: var(--tblr-primary);
    --tblr-link-color: var(--tblr-primary);
    --tblr-btn-hover-bg: var(--tblr-primary);
}

.navbar-vertical .navbar-collapse .sidebar.navbar-nav .nav-item .dropdown-menu-column .dropdown-item.active {
    color: var(--tblr-primary);
}

.breadcrumb-item a:hover {
    color: var(--tblr-primary);
}

.btn-list button[type=submit][form=sylius_resource] {
    margin-bottom: 10px;
}

.btn-list a[data-test-cancel-changes-button] {
    margin-bottom: 10px;
}

.diagram svg {
     height: 100% !important;
 }
