{% extends '@SyliusAdminUi/base.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% include '@SyliusBootstrapAdminUi/shared/crud/common/sidebar.html.twig' %}

<div class="page">
    {% include '@SyliusBootstrapAdminUi/shared/crud/common/navbar.html.twig' %}

    <div class="page-wrapper">
        <div class="page-body">
            <div class="container-xl">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
